/*
 * The following pipeline parameters specify the default params and reference genome.
 */
params {
    // Single or paired-end reads? (Default: Paired-End, if false then single-ended data expected)
    pairedend = true

    // Trim reads to 50bp
    crop50 = false

    // Provide the input file path (fastqs)
    reads = "$baseDir/test_data/temp/**.{fastq,fq,fastq.gz,fq.gz}"

    // Choose the reference genome
    genome = "mm10"
    // Path to ref genome and indexed results
    ref_path = "$baseDir/path/to/reference.fasta"

    // Define the binsizes for copy-number calling
    binsizes = [30, 50]

    // QDNAseq PARAMS
    runqdnaseq = true
    binannos = "$baseDir/data/qdnaseq_SR50_mouse_annots"
    // Create and use new bin annotations?
    qd_new_annot = true
    // bam files for normal samples
    qd_nbams = "$baseDir/path/to/bams"
    // mappability tracks (bigWig)
    qd_mappability = "$baseDir/path/to/mappability"
    // problematic regions blacklist (bed)
    qd_blacklist = "$baseDir/path/to/blacklist"
    // bigWigAverageOverBed binary
    qd_bwgavgbed = "$baseDir/path/to/bigWigAverageBed"
    
    // WX PARAMS
    runwisex = false
    // Create new references?
    wx_newref = false
    // Create new references from BAMs?
    wx_newref_frombam = false
    // Existing references
    wx_refs = "$baseDir/test_data/ref/npz/refs"
    // npz files for normal samples
    wx_normals = "$baseDir/test_data/ref/npz/normals"
    // bam files for normal samples
    wx_nbams = "$baseDir/test_data/ref/bams"

    outdir = "$baseDir/results"
    nthreads = 8
    aligner = 'bwamem2'

    multiqc_config = "$baseDir/multiqc_config.yaml"
}

process {
    withName: DOWNLOAD_HG38 {
        container = 'docker://curlimages/curl:latest'
        shell = ['/bin/sh']
    }
    withName: 'FASTQC.*' {
        container = 'docker://staphb/fastqc:latest'
    }
    withName: 'MULTIQC.*' {
        container = 'docker://quay.io/biocontainers/multiqc:1.3--py35_2'
    }
    withName: 'TRIMMOMATIC.*' {
        container = 'docker://staphb/trimmomatic:latest'
    }
    withName: '.*BWA.*' {
        container = 'docker://clinicalgenomics/bwa-mem2:2.2.1'
    }
    withName: MINIMAP2_ALIGNMENT {
        container = 'docker://niemasd/minimap2_samtools:latest'
    }
    withName: 'SORT_INDEX.*' {
        container = 'docker://staphb/samtools:1.19'
    }
    withName: 'MARKDUP.*' {
        container = 'docker://broadinstitute/picard:latest'
    }
    withName: 'INDCOVFLAG.*' {
        container = 'docker://staphb/samtools:1.19'
    }
    withName: CN_QDNA1 {
        container = 'docker://asntech/qdnaseq:v1.26.0'
    }
    withName: '.*WX.*' {
        container = 'docker://sofvdvel/wisecondorx:0.1'
    }
    withName: 'RCN_TO_ACN.*' {
        container = 'docker://dinguwu/utanos:v0.2'
    }
    withName: QDNA_BINS {
        container = 'docker://dinguwu/qdnaseq:v0.1'
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$baseDir/../singularity"
    // ensure that no user libraries get mounted into the container
    process.containerOptions = "--no-home"
}