/*
 * The following pipeline parameters specify the default params and reference genome.
 */
params {
    // Single or paired-end reads? (Default: Paired-End, if false then single-ended data expected)
    pairedend = true

    // Trim reads to 50bp
    crop50 = false

    // Azure Data
    from_azure = false
    // URL to the azure storage container, in the format "https://<storage account>.blob.core.windows.net/<container>"
    az_container_url = "https://<storage account>.blob.core.windows.net/<container>"
    // Share Access Signature, with neccessary permissions for downloading with AzCopy.
    az_sas = ""
    // Path to csv file with the columns: `sample_id`, `az_url`.
    // `sample_id` - intended sample ID.
    // `az_url`    - is a URL to the directory containing the sample's fastq files.
    az_csv = "$baseDir/path/to/csv"

    // Local Data
    // Provide the input file path (fastqs). If `use_csv` = true, must point to a directory with no wildcards.
    reads = "$baseDir/path/to/fastqs"
    // Sample name logic
    use_csv = false
    // Path to a csv file with the columns: `sample_id`, `reads_id`. 
    // `sample_id` - intended sample ID.
    // `reads_id`  - string that can uniquely identify the fastq file(s) for a given sample (e.g. the library index, if it's part of the file name).
    samples_csv = "$baseDir/path/to/csv"
    // Alternatively, a regex pattern passed to replaceAll(<regex>, ''). Extracts everything minux the pattern and extensions as the sample ID.
    rm_regex = "(_1_|_2_).*"


    // Choose the reference genome
    genome = "hg19"
    // Path to ref genome and indexed results
    ref_path = "$baseDir/path/to/reference"

    // Define the binsizes for copy-number calling
    binsizes = [30, 50]

    // QDNAseq PARAMS
    runqdnaseq = true
    binannos = "$baseDir/path/to/binannots"
    // Create and use new bin annotations?
    qd_new_annot = false
    // bam files for normal samples
    qd_nbams = "$baseDir/path/to/bams"
    // mappability tracks (bigWig)
    qd_mappability = "$baseDir/path/to/mappability"
    // problematic regions blacklist (bed)
    qd_blacklist = "$baseDir/path/to/blacklist"
    // bigWigAverageOverBed binary
    qd_bwgavgbed = "$baseDir/path/to/bigWigAverageBed"
    
    // WX PARAMS
    runwisex = false
    // Create new references?
    wx_newref = false
    // Create new references from BAMs?
    wx_newref_frombam = false
    // Existing references
    wx_refs = "$baseDir/test_data/ref/npz/refs"
    // npz files for normal samples
    wx_normals = "$baseDir/test_data/ref/npz/normals"
    // bam files for normal samples
    wx_nbams = "$baseDir/test_data/ref/bams"

    outdir = "$baseDir/results"
    indir = "$baseDir/input"
    nthreads = 8
    aligner = 'bwamem2'

    multiqc_config = "$baseDir/multiqc_config.yaml"
}

process {
    withName: AZURE_DOWNLOAD {
        container = 'docker://dinguwu/azurestor:v0.1'
    }
    withName: MATCH_FASTQ {
        container = 'docker://dinguwu/azurestor:v0.1'
    }
    withName: DOWNLOAD_HG38 {
        container = 'docker://curlimages/curl:latest'
        shell = ['/bin/sh']
    }
    withName: 'FASTQC.*' {
        container = 'docker://staphb/fastqc:latest'
    }
    withName: 'MULTIQC.*' {
        container = 'docker://quay.io/biocontainers/multiqc:1.3--py35_2'
    }
    withName: 'TRIMMOMATIC.*' {
        container = 'docker://staphb/trimmomatic:latest'
    }
    withName: '.*BWA.*' {
        container = 'docker://clinicalgenomics/bwa-mem2:2.2.1'
    }
    withName: MINIMAP2_ALIGNMENT {
        container = 'docker://niemasd/minimap2_samtools:latest'
    }
    withName: 'SORT_INDEX.*' {
        container = 'docker://staphb/samtools:1.19'
    }
    withName: 'MARKDUP.*' {
        container = 'docker://broadinstitute/picard:latest'
    }
    withName: 'INDCOVFLAG.*' {
        container = 'docker://staphb/samtools:1.19'
    }
    withName: CN_QDNA1 {
        container = 'docker://asntech/qdnaseq:v1.26.0'
    }
    withName: '.*WX.*' {
        container = 'docker://sofvdvel/wisecondorx:0.1'
    }
    withName: 'RCN_TO_ACN.*' {
        container = 'docker://dinguwu/utanos:v0.2'
    }
    withName: QDNA_BINS {
        container = 'docker://dinguwu/qdnaseq:v0.1'
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$baseDir/../singularity"
    // ensure that no user libraries get mounted into the container
    process.containerOptions = "--no-home"
}