/*
 * The following pipeline parameters specify the default params and reference genome.
 */
params {
    // Single or paired-end reads? (Default: Paired-End, if false then single-ended data expected)
    pairedend = false
    // If the data is paired-end, use both sets of reads or just the forward strand.
    // For messy/low-quality samples sometimes using just one set is beneficial
    // useboth = false

    // Provide the input file path (fastqs)
    reads = "$baseDir/test_data/chr21_raw/**.{fastq,fq,fastq.gz,fq.gz}"

    // Choose the reference genome
    genome = "hg19"
    ref_path = "$baseDir/test_data/ref/GRCh37-lite.fa"
    ref_dir = "$baseDir/test_data/ref/."

    // Define the binsizes for copy-number calling
    binsizes = ['50kb', '500kb']
    runqdnaseq = true
    runwisex = false

    outdir = "$baseDir/results"
    refFasta = "$baseDir/reference_genome/hg38.fa.gz"
    binannos = "$baseDir/data/1000genomes_PE150_bin_annotations"
    nthreads = 8
    bwaThreads = 8
    haplotypeCallerMappingQual = 20
    haplotypeCallerMinBaseQual = 20

    aligner = 'bwamem2'

    multiqc_config = "$baseDir/multiqc_config.yaml"
}

process {
    withName:DOWNLOAD_HG38 {
        container = 'docker://curlimages/curl:latest'
        shell = ['/bin/sh']
    }
    withName: 'FASTQC.*' {
        container = 'docker://staphb/fastqc:latest'
    }
    withName: 'MULTIQC.*' {
        container = 'docker://quay.io/biocontainers/multiqc:1.3--py35_2'
    }
    withName: 'TRIMMOMATIC.*' {
        container = 'docker://staphb/trimmomatic:latest'
    }
    withName: '.*BWA.*' {
        container = 'docker://clinicalgenomics/bwa-mem2:2.2.1'
    }
    withName:MINIMAP2_ALIGNMENT {
        container = 'docker://niemasd/minimap2_samtools:latest'
    }
    withName: 'SORT_INDEX.*' {
        container = 'docker://staphb/samtools:1.19'
    }
    withName: 'MARKDUP.*' {
        container = 'docker://broadinstitute/picard:latest'
    }
    withName: 'INDCOVFLAG.*' {
        container = 'docker://staphb/samtools:1.19'
    }
    withName:CN_QDNA1 {
        container = 'docker://asntech/qdnaseq:v1.26.0'
    }
    // withName:CN_WX1 {
    //     container = 'docker://fauzul/wisecondorx:1.0'
    // }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$baseDir/../singularity"
    // ensure that no user libraries get mounted into the container
    process.containerOptions = "--no-home"
}