/*
 * The following pipeline parameters specify the default params and reference genome.
 */
params {
    reads = "$baseDir/test_data/chr21_raw/**.{fastq,fq,fastq.gz,fq.gz}"
    outdir = "$baseDir/results"
    refFasta = "$baseDir/../reference_genome/hg19/GRCh37-lite.fa"
    bwaThreads = 8
    haplotypeCallerMappingQual = 20
    haplotypeCallerMinBaseQual = 20
}

process {
    withName:DOWNLOAD_FROM_WEB {
        container = 'curlimages/curl:latest'
        shell = ['/bin/sh']
    }
    withName:FASTQC1 {
        container = 'docker://staphb/fastqc:latest'
    }
    withName:MULTIQC1 {
        container = 'docker://quay.io/biocontainers/multiqc:1.3--py35_2'
    }
    withName:ALIGNMENT {
        container = 'docker://blcdsdockerregistry/bwa-mem2_samtools-1.12:2.2.1'
    }
    withName:MARKDUP {
        container = 'docker://broadinstitute/picard:latest'
    }
    withName:INDCOVFLAG {
        container = 'docker://staphb/samtools:latest'
    }
    withName:FASTQC2 {
        container = 'docker://staphb/fastqc:latest'
    }
    withName:MULTIQC2 {
        container = 'docker://quay.io/biocontainers/multiqc:1.3--py35_2'
    }
    
}
singularity {
    enabled = true
    autoMounts = true
}